<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context 
         http://www.springframework.org/schema/context/spring-context.xsd
         http://code.alibabatech.com/schema/dubbo 
         http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <!-- <context:property-placeholder location="classpath*:/config*.properties" file-encoding="utf-8"/> -->
    <context:component-scan base-package="cn.memedai.ups.boss.webapp" />
    
    <!-- <context:spring-configured/> -->
    
    
    <!-- 生成properties, 用于手动获取, spring-el获取, 及在placeholder中使用 -->
	<!-- <bean id="properties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="fileEncoding" value="UTF-8" />
		<property name="locations">
			<array>
				<value>classpath*:public_system.properties</value>
			</array>
		</property>
	</bean> -->
	<dubbo:application name="ups-boss" />
	<dubbo:registry id="dubboRegistry" protocol="zookeeper" address="99.48.66.13:2181" />
	<!-- 该变量请配置在tomcat的 catalina.properties 中 -->
	<dubbo:protocol name="dubbo" port="20880" />

	<dubbo:consumer filter="trace" ></dubbo:consumer>

	<!-- 账务capital服务,提供用户是否已经结清查询 -->
	<dubbo:reference filter="trace" id="incomeServiceFacade" url="dubbo://99.48.66.20:20880"  interface="cn.memedai.ups.facade.service.IncomeServiceFacade" version="1.0" />

</beans>